.aboutme_text{
    color: darkslategray;
    font-weight: smaller;
    line-height: 20px !important;
    white-space: pre-line !important;
}
.resume_timeline .resume_content .timelineItem_title{
    font-size: 16px !important;
    font-weight: 500 !important;
}
.resume_timeline .resume_content .timelineItem_date{
    color: darkslategray;
}
.resume_timeline .resume_content .timelineItem_title{
    font-size: small;
    margin-top: 6px;
    color: gray;
}
.service{
    height: 100%;
    text-align: center;
}
.service .service_title{
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    text-align: center;
}
.service .service_description{
    color: #989898 !important;
    border-color: #4e76fa !important;
    margin-right: 5px !important;
    text-align: center;
}

.service_icon >.MuiSvgIcon-root{
   margin-left: 0 !important;
    font-weight: 300 !important;
    color: darkslategray !important;
    font-size: 100% !important; 
        max-width: 100% !important;
        max-height: 100% !important;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    text-align: center;
    }

.skill{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
    min-height: 186px;
    height: 100%;
}
.skill .skill_title{
    font-size: 14px !important ;
    font-weight: 500 !important;
    line-height: 35px !important;
}
.skill .skill_description{
    display: flex;
    align-items: center;
    color: #989898 !important;
    font-weight: 400 !important;
    line-height: 18px !important;
} 
.skill .skill_description .timeline_dot{
    color: black !important;
    border-color: #4e76fa !important;
    padding: 2px !important;
    margin-left: 5px !important;
}
.contact_info{
font-size: 14px !important;
color: #787878;
line-height: 34px !important;
}
.contact_info > span{
color: black;
font-weight: 500;
}
.contact_info_socialContainer{
margin-top: 25px;
}
.contact_info_social > a > .MuiSvgIcon-root{
font-size: 16px !important;
margin-right: 10px;
color: black;
}
